* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #FDF5EC;
  position: relative;
  min-height: 100vh;
}

.navbar {
  background-color: #8B9B8B;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.nav-link {
  font-family: "Baloo Thambi 2", serif;
  color: white;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 1.2rem;
}

.nav-logo {
  font-family: 'BIZ UDGothic';
  font-weight: 400;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 4rem;
  max-width: 1200px;
}

.coffee-image img {
  margin-left: -50px;
  animation: spin 40s linear infinite;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

@keyframes spin{
  from {
    transform: rotate(0deg);
}
  to {
    transform: rotate(360deg); 
}
}

.hero-text {
  text-align: center;
}

.hero-text h1 {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeIn 1.7s ease-out forwards;
  color: #5C4033;
  font-family: 'BIZ UDGothic';
  font-size: 7rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.hero-text h2 {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeIn 1.7s ease-out forwards;
  color: #B8926D;
  font-family: "Balthazar", serif;
  font-size: 3.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  max-width: 100rem;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(30px); 
  }
  100% {
      opacity: 1;
      transform: translateY(0); 
  }
}

.hero-text p {
  font-family: "Baloo Thambi 2", serif;
  color: #B8926D;
  font-size: 2rem;
  margin-bottom: 1.4rem;
}

.discover-btn {
  background-color: #8B9B8B;
  font-family: "Baloo Thambi 2", serif;
  color: white;
  border: none;
  padding: 0.30rem 1.5rem;
  border-radius: 50px;
  font-size: 1.7rem;
  cursor: pointer;
  transition: #8B9B8B 0.3s;
  min-width: 100px; 
  min-height: 20px; 
  transition: ease .5s;
}

.discover-btn:hover {
  background-color: #4E685B;
}

.visit-space {
  text-align: center;
  background-color: #FDF6F0; 
}

.visit-space h2 {
  text-align: center;
  font-family: "Baloo Thambi 2", serif;
  font-weight: 400;
  font-size: 2rem;
  color: #B8926D;
}

.visit-space .phrase {
  font-weight: 520;
  font-family: "Balthazar", serif;
  font-size: 2.5rem;
  color: #6b4a3d;
  margin: 20px 10px;
}

.description-section {
  font-size: 1.6rem;
  font-family: "Balthazar", serif;
  font-weight: 520;
  color: #6b4a3d;
}

.slider {
  overflow: hidden; 
  width: 100%;
  max-width: 800px; 
  margin: 1px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 250px; 
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out; 
  width: calc(250px * 7); 
}

.slide {
  flex: 0 0 250px; 
  height: 10rem; 
  margin: 0 10px; 
}

.slide img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  border-radius: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

hr {
  width: 40%; 
  height: 2px; 
  background-color: #B8926D; 
  border: none; 
  margin: 20px auto; 
}

.icons {
  justify-content: center;
  display: flex; 
  gap: 4rem; 
}

.icons-img img {
  margin: 30px 0;
  height: auto; 
  transition: transform 0.8s ease-in-out;
}

.icons-img img:hover {
  transform: rotateY(360deg);
}


.menu-wrapper {
  background-color: #FDF5EC;
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  max-width: 1000px;
  margin: 1px auto;
  padding: 0 10px;
}


.subtitle {
  font-family: "Baloo Thambi 2", serif;
  color: #8B4513;
  font-size: 2rem;
  margin: 5px;
  font-weight: 400;
  text-align: center;
}

h1 {
  font-family: "Balthazar", serif;
  color: #8B4513;
  font-size: 2.8rem;
  margin: 5px 0 45px 0;
  text-align: center;
}

.menu-section {
  margin-bottom: 20px;
}

.menu-content {
  display: flex;
  gap: 50px;
  align-items: flex-start;
}

.menu-images {
  flex: 0 0 200px;
  position: relative;
  height: 370px;
}

.menu-images img {
  width: 240px;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-images img:first-child {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.menu-images img:last-child {
  position: absolute;
  right: 0;
  bottom: 0;
}

.dessert-img {
  width: 300px !important;
  height: 350px !important;
  position: relative !important;
}

.menu-items {
  flex: 1;
  padding-top: 30px;
}

h2 {
  font-family: "Balthazar", serif;
  color: #8B4513;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 520;
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-items: baseline;
}

.item-name {
  font-family: "Baloo Thambi 2", serif;
  font-size: 1.3rem;
  white-space: nowrap;
}

.dots {
  border-bottom: 2px dotted #4A4A4A;
  flex: 1;
  margin: 0 8px;
  position: relative;
  top: -4px;
}

.price {
  font-family: "Baloo Thambi 2", serif;
  font-weight: 500;
  font-size: 1.3rem;
  white-space: nowrap;
}

.description {
  font-family: "Baloo Thambi 2", serif;
  width: 100%;
  color: #666;
  font-size: 0.9rem;
  margin: -8px 0 0 0;
}

.button-container{
  display: flex;           
  justify-content: center;  
  align-items: center;      
}

.button-menu{
  font-family: "Baloo Thambi 2", serif;
  align-items: center; 
  gap: 8px;
  background-color: #8B9B8B; 
  color: white;            
  border: none;            
  padding: 0.30rem 1rem;
  font-size: 1.2rem;         
  border-radius: 50px;       
  cursor: pointer;          
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-menu:hover {
  background-color: #4E685B; 
  transform: scale(1.05);  
}

.history-section {
  background-color: #8B9B8B;
  padding: 60px 0;
}

.container-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  gap: 60px;
  align-items: center;
}

.image-container {
  flex: 1;
  max-width: 600px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.content {
  flex: 1;
  color: #fff;
}

.subtitle-history {
  font-family: "Baloo Thambi 2", serif;
  font-size: 1.5rem;
  margin-bottom: 12px;
  display: block;
}

.phrase-history{
  color: #FDF5EC;
  font-family: "Balthazar", serif;
  font-size: 3rem;
  margin-bottom: 15px;
  font-weight: 500;
}

.text-content p {
  font-family: "Balthazar", serif;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.features {
  margin-top: 15px;
}

.feature-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

.feature-item i {
  font-size: 2.3rem;
}

.feature-item span {
  font-family: "Baloo Thambi 2", serif;
  font-size: 1.2rem;
}

.team-section {
  background-color: #FDF5EC;
  padding: 80px 0;
}

.team-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.team-title {
  font-family: "Balthazar", serif;
  color: #B68973;
  font-size: 2.5rem;
  margin-bottom: 60px;
  font-weight: normal;
}

.team-members-grid {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.team-member {
  flex: 1;
  max-width: 250px;
}

.team-member-image {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
  border-radius: 50%;
  overflow: hidden;
}

.team-member-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-member-name {
  font-family: "Balthazar", serif;
  color: #B68973;
  font-size: 1.5rem;
}

.slider-section {
  width: 100vw;
  height: 300px;
  background-color: #FDF6F0;
  overflow: hidden;
}

.slides-wrapper {
  width: 100vw;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slider-slide {
  min-width: 100vw;
  height: 300px;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cafe-info-wrapper {
  font-family: "Baloo Thambi 2", serif;
  background: #FDF5EC;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.cafe-contact-box,
.cafe-location-box {
  font-family: "Baloo Thambi 2", serif;
  background-color: #B4BEB4;
  padding: 60px;
  width: 100%;
  max-width: 500px;
  color: white;
}

.cafe-contact-heading,
.cafe-location-heading {
  font-family: "Baloo Thambi 2", serif;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.cafe-contact-list {
  font-family: "Baloo Thambi 2", serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cafe-contact-text {
  font-family: "Baloo Thambi 2", serif;
  font-size: 17px;
}

.cafe-location-text {
  font-family: "Baloo Thambi 2", serif;
  font-size: 15px;
  line-height: 1.4;
}

.cafe-hours-wrapper {
  font-family: "Baloo Thambi 2", serif;
  margin-top: 20px;
}

.cafe-hours-heading {
  font-family: "Baloo Thambi 2", serif;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
}

.cafe-hours-list {
  font-family: "Baloo Thambi 2", serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cafe-hours-item {
  font-family: "Baloo Thambi 2", serif;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.cafe-hours-time {
  color: white;
}





















@media (max-width: 768px) {
  .team-members-grid {
      flex-direction: column;
      align-items: center;
      gap: 40px;
  }

  .cafe-info-wrapper {
    flex-direction: column;
    align-items: center;
}

.cafe-contact-box,
.cafe-location-box {
    width: 100%;
}

  .team-member {
      max-width: 200px;
  }

  .team-title {
      font-size: 2rem;
      margin-bottom: 40px;
  }
}

@media (max-width: 968px) {
  .container {
      flex-direction: column;
      text-align: center;
  }

  .image-container {
      max-width: 100%;
  }

  .feature-item {
      justify-content: center;
  }
}

@media (max-width: 480px) {
  .history-section {
      padding: 40px 0;
  }

  h2 {
      font-size: 2rem;
  }

  .container {
      gap: 30px;
  }
}

@media (max-width: 900px) {
  .container {
      padding: 20px;
      margin: 30px auto;
  }

  .menu-content {
      flex-direction: column !important;
      gap: 30px;
  }

  .menu-images {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      margin: 0 auto;
  }

  .menu-images img {
      position: static !important;
      width: 100% !important;
      max-width: 280px;
      height: 260px !important;
      margin: 0 10px;
  }

  .menu-items {
      padding-top: 0;
  }

  h2 {
      text-align: center;
  }
}

@media (max-width: 600px) {
  .menu-images {
      flex-direction: column;
      align-items: center;
  }

  .menu-images img {
      margin: 10px 0;
  }

  h1 {
      font-size: 2.2rem;
  }

  h2 {
      font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .hero-content {
      flex-direction: column;
      gap: 2rem;
  }

  .coffee-image img {
      width: 300px;
      height: 300px;
  }

  .hero-text h1 {
      font-size: 2.5rem;
  }

  .hero-text h2 {
      font-size: 1.5rem;
  }
}